
<div class="text-center">
  <h1>My Students' Activity</h1>
</div>

<div>
<%= column_chart @plans.map { |plan|
  {name: plan.student_email, data: User.find_by(email: plan.student_email).attempts.group_by_day(:created_at).count }
}, ytitle: "Exercises" %> 
</div>



<div class="text-center">
  <h1>My Students' Plans</h1>
</div>



<div class="col-md-12">
  <table class="col-md-12">
    <thead>
      <tr>
        <th>Student Email</th>
        <th>Subject</th>
        <th>Questions Per Round</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.student_email %></td>
          <td><%= plan.subject.name %></td>
          <td><%= plan.round_size %></td>
          <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
          <td><%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<div class="row justify-content-center align-items-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header  text-white">
        <h3 class="card-title text-center">Add New Plan</h3>
      </div>
      <div class="card-body">
        <%= form_with(url: plans_path) do |form| %>
          <div class="form-group mb-3">
            <%= label_tag :query_student_email, "Your Student's Email:" %>
            <%= email_field_tag :query_student_email, nil, class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= label_tag :query_subject_id, "Subject:" %>
            <%= select_tag :query_subject_id, options_for_select(Subject.all.map{ |s| [s.name, s.id] }), class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= label_tag :query_round_size, "Round Size (Questions Per Round):" %>
            <%= text_field_tag :query_round_size, nil, class: "form-control" %>
          </div>
          
          <div class="form-group text-center">
            <%= button_tag "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
