<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>
      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :student_email, "Your Student's Email:" %>
    <%= form.email_field :student_email, value: plan.student_email, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :subject_id, "Subject:" %>
    <%= form.select :subject_id, options_for_select(Subject.all.map{ |s| [s.name, s.id] }, plan.subject_id), {}, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :round_size, "Round Size (Questions Per Round):" %>
    <%= form.text_field :round_size, class: "form-control" %>
  </div>

  <div class="form-group text-center">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>
